default: &default
  PROFILE:
  REGION:
  DB_NAME:

dev:
  <<: *default
  STAGE:
  DEPLOY_BUCKET:
  ARTIFACT_BUCKET:
  TABLE:
  DB_CLUSTER_ARN:
  DB_SECRET_ARN:

prod:
  <<: *default
  STAGE:
  DEPLOY_BUCKET:
  ARTIFACT_BUCKET:
  TABLE:
  DB_CLUSTER_ARN:
  DB_SECRET_ARN:
